.idea/
**/*.iml
### Maven template
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
classes

# gradle stuff
**/build/
.gradle/
_site
.DS_Store