<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>scott@manifold.systems</username>
      <password>${env.MAN_PASS_PHRASE}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>ossrh</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <gpg.passphrase>${env.MAN_PASS_PHRASE}</gpg.passphrase>
      </properties>
    </profile>
  </profiles>

</settings>