h1, h2, h3, h4 {
  font-family: 'Crete Round', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-brand {
  padding-top: 20px;
  font-family: 'Crete Round', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16pt;
}

p {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14pt;
}

ul {
  margin-top: 16px;
  margin-bottom: 16px;
}

li {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13pt;
  margin-top: 4px;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14pt;
  padding: 12px;
}

.main-body {
  padding-top: 50px;
}



pre.prettyprint {
  max-width: 70%;
  margin: 8px auto;
}

.navbar-img {
  margin: 9px;
  height: 35px;
}