body {
  padding-top: 50px;
}
.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2) !important;
}
.navbar-brand img {
  height: 40px;
  margin-top: -10px;
  margin-right: 8px;
  float: left;
}
nav.navbar {
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0px 0px 20px 3px #CCC;
}
nav.navbar a {
  color: #f0f0f0;
  font-size: 20px;
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
}
body pre[class*="language-"] {
  margin: 16px;
}
p {
  margin: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
ul {
  margin: 16px;
  overflow: hidden;
}
li {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.index-title {
  margin-top: 48px;
}
.index-title h1 {
  font-size: 72px;
}
@media only screen and (max-width: 512px) {
  .index-title h1 {
    font-size: 42px;
  }
}
.index-title img {
  width: 128px;
}
.index-demo {
  padding: 32px;
}
.index-demo img {
  width: 756px;
  max-width: 100%;
}
.icon-bar {
  background: darkgray;
}
.toc_anchor {
  padding-top: 50px;
}
.docs-toc {
  padding-top: 4px;
}
@media only screen and (max-width: 991px) {
  .docs-toc {
    display: none;
  }
}
.docs-toc ul {
  list-style: none;
  padding: 0;
}
.docs-toc ul li {
  font-size: 16px;
}
.docs-toc .sub {
  padding-left: 8px;
}
.live-demo-container {
  width: 100%;
  color: whitesmoke;
  background-color: #389CFF;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAIAAAAmzuBxAAAAGXRFW…YWZhag9PefvxhwgD9//zLh0g0HTAyEwLBSAQw1/CoAAgwAba4SlNFFbukAAAAASUVORK5CYII=);
  background-repeat: repeat;
}
.hero-container h1 {
  margin-bottom: 42px;
}
.hero-container .btn-primary {
  background-color: #389CFF;
  font-weight: bold;
}
.wut-container {
  padding: 32px;
  width: 100%;
  background-color: #393939;
  color: whitesmoke;
  padding-bottom: 48px;
}
#install-btn {
  padding: 13px 57px;
  font-size: 20px;
  margin: 48px;
}
.marketing-container {
  padding-top: 24px;
  padding-bottom: 48px;
}
.contact-container {
  box-shadow: 0px 0px 20px 3px #CCC;
  width: 100%;
  background-color: #393939;
  color: #ffffff;
  padding-bottom: 48px;
}
.contact-container a {
  color: #ffffff;
}

